.CardsContainer-CardImage {
  grid-area: CardImage;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0px;
}

.CardsContainer-Picture {
  position: absolute;
  bottom: -3px;
}
