.CardsContainer-CardTitle {
  grid-area: CardTitle;
  z-index: 99;
  background-color: white;
}

.CardsContainer-CardTitleText {
  margin: 0;
  padding-bottom: 1px;
  font-size: 1.35rem;  
  font-family: "YS Text";
  font-weight: 700;
  font-size: 1.35rem; 
}